<div id="<%= dom_id task %>">
  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Context:</strong>
    <%= task.context %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= task.project %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= task.due_date %>
  </p>

  <p>
    <strong>Schedule date:</strong>
    <%= task.schedule_date %>
  </p>

  <p>
    <strong>Impact:</strong>
    <%= task.impact %>
  </p>

  <p>
    <strong>Energy level:</strong>
    <%= task.energy_level %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= task.notes %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= task.size %>
  </p>

</div>
